:root {
    /*Colores*/
    --just-white: #ffff;
    --green: #98A684;
    --gray: #3C3C3C;
    --brown: #8B553C;
    --light-gray: #D3D3D3;
    --black: #0000;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    text-align: center;
    margin: 5% 10%;
}

.section__small-title {
    font-family: 'Montserrat', sans-serif;
    color: var(--green);
    font-size: 1.4rem;    
}

.section__title {
    position: relative;
    font-family: 'Cardo', serif;    
    font-size: 6.0rem; 
    margin-top: 1.8rem;  
}

.section__title::before,
.section__title::after {
  content: '';
  position: absolute;
  top: 50%;
  width: 437px;
  height: 1px;
  background-color: var(--green);
}

.section__title::before {
  right: calc(100% + 10px);
  transform: translateY(-50%);
}

.section__title::after {
  left: calc(100% + 10px);
  transform: translateY(-50%);
}

.section__service-list-container {
    width: 100%;    
}

.section__service-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.0rem 2.0rem;
    list-style-type: none;
    margin-top: 3.6rem;
    text-align: left;
  }

.section__service-item {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.5rem;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    letter-spacing: 0px;
    opacity: 1;
}

.section__service-item span {
    color: var(--green);
    margin-right: 10px;
}

.section_line-bottom {    
  height: 1px;
  width: 85%;
  margin: 0 auto;
  background-color: var(--green);
}

/* Estilos base para todas las pantallas */

/* Estilos para pantallas pequeñas */
/*@media screen and (min-width: 375px) {
    .section1 {
      margin: 5% 5%;
    }

    .section__small-title {       
        font-size: 0.9rem;    
    }

    .section__title {
        font-size: 2rem;        
    }

    .section__title::before {
        right: calc(105% + 10px);             
      }
      
      .section__title::after {
        left: calc(105% + 10px);        
      }

    .section__service-list-container {
        width: 100%;
    }

    .section__service-list {       
        grid-gap: 1.5rem;    
        margin-top: 1.4rem;
        margin-bottom: 1.4rem;      
      }

    .section__service-item  {
        font-size: 1rem;
    }
   
  }*/
  
  /* Estilos para pantallas medianas */
  @media screen and (min-width: 768px) {
    
  }
  
  /* Estilos para pantallas grandes */
 /* @media screen and (min-width: 1024px) {
    .section1 {
      margin: 5% 20%;
    }
  }*/
  
  /* Estilos para pantallas extra grandes */
 /*@media screen and (min-width: 1200px) {
    .section1 {
      margin: 5% 25%;
    }
  }*/